---
BasedOnStyle: WebKit
IndentWidth: 4
BreakBeforeBraces: Stroustrup
ColumnLimit: 72
BraceWrapping: {
    AfterControlStatement: 'true'
    AfterEnum : 'true'
    IndentBraces : 'false'
    AfterFunction : 'true'
}
